.md {
	color: #222;
	word-break: break-word;
	font-size: 16px;
    line-height: 1.4;

	h1 {
		font-size: 1.3em;
		font-weight: 600;
		margin: 24px 0 12px 0;
		padding: 0 0 10px 0;
		color: #313236
	}

	h2 {
		font-size: 1.2em;
		font-weight: 600;
		margin: 24px 0 12px 0;
		color: #313236
	}

	h3 {
		margin: 24px 0 12px 0;
		font-size: 1.15em
	}

	h4 {
		margin: 24px 0 12px 0;
		font-size: 1.1em
	}

	h5 {
		margin: 24px 0 12px 0;
		font-size: 1em
	}

	h6 {
		margin: 24px 0 12px 0;
		font-size: 0.90em
	}

	h1,h2,h3,h4,h5,h6{
		position: relative
		color: #555
	}

	p {
		color: #5c5d5e;

		>code {
			font-weight: inherit;
			border: solid 1px #ccc;
			padding: 0 5px;
			background: #ececec;
			border-radius: 3px;
			margin: 0 2px;
		}
	}

	a{
		color: #3084bb;
		&:hover{
			text-decoration: underline;
		}
	}

	img {
		max-width: 100%;
		margin: 5px 0;
		display: block;
		box-shadow: 0 0 5px rgba(0,0,0,0.23);
	}

	code {
		font-family: "Microsoft YaHei", Helvetica, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", "Monaco", "monospace", "Tahoma", "STXihei", "华文细黑", "STHeiti", "Helvetica Neue", "Droid Sans", "wenquanyi micro hei", "FreeSans", "Arimo", "Arial", "SimSun", "宋体", "Heiti", "黑体", "sans-serif";
		white-space: pre;
		word-wrap: normal;
		line-height: 1.3;
	}

	abbr{
		background: #ffd
	}

	kbd {
		display: inline-block;
		padding: 3px 5px;
		font-size: 11px;
		line-height: 10px;
		color: #555;
		vertical-align: middle;
		background-color: #FCFCFC;
		border-width: 1px;
		border-style: solid;
		border-color: #CCC #CCC #BBB;
		border-image: none;
		border-radius: 3px;
		box-shadow: 0px -1px 0px #BBB inset
	}

	blockquote {
		color: #666;
		border-left: 4px solid #ddd;
		padding-left: 10px;
		margin-left: 0;
		font-size: 14px;
		font-style: italic;

		p{
			color: #7f8fa4 !important;
			font-size: inherit;
			line-height: 1.5
		}
	}

	blockquote,dl,ol,ul,p,pre,table {
		margin-top: 0;
    	margin-bottom: 16px;
	}

	ul, ol{
		padding: 0;
		margin: 6px 0 6px 18px !important;
		list-style: disc

		ul {
			list-style: circle
		}
	}

	li {
		line-height: 1.6em;
		color #888
	}

	pre{
		margin: 10px 0 10px 0 !important;
		background-color: #002b36;
		font-size: 13px !important;
		color: #93a1a1;
		line-height: 1.5em !important;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
		border-radius: 2px;
		padding: 10px;
		overflow-x: auto;

		.hljs {
			border-left none
			padding 0.2em
		}
	}

	hr {
		height: 1px;
		border: none;
		border-top: 1px solid #ddd;
		background: 0 0;
		margin: 10px 0;
	}

	table {
		margin: 12px 0 12px 0;
		width: 100%;
		display: block
		color: #5c5d5e;
		border-collapse:collapse;
		border-spacing:0;

		th {
			background: #f8fafc
		}

		>thead>tr>th,
		>thead>tr>td,
		>tbody>tr>th,
		>tbody>tr>td,
		>tfoot>tr>th,
		>tfoot>tr>td {
			padding: 8px;
			line-height: 1.42857143;
			vertical-align: top;
			border-top: 1px solid #ddd
		}

		>thead>tr>th{
			vertical-align: bottom;
			border-bottom: 2px solid #bbb
		}

		>caption+thead>tr:first-child>th,
		>caption+thead>tr:first-child>td,
		>colgroup+thead>tr:first-child>th,
		>colgroup+thead>tr:first-child>td,
		>thead:first-child>tr:first-child>th,
		>thead:first-child>tr:first-child>td {
			border-top: 0
		}

		>tbody+tbody {
			border-top: 2px solid #bbb
		}

		>thead>tr>th,
		>thead>tr>td,
		>tbody>tr>th,
		>tbody>tr>td,
		>tfoot>tr>th,
		>tfoot>tr>td{
			border: 1px solid #ddd
		}

		tr:nth-child(2n) {
			background-color #f8f8f8
		}

		tr{
			border-top: 1px solid #ccc
		}

		td,th{
			padding: 6px 13px !important
		}
	}
}

