@font-face {
  font-family: 'Y. Jer';  /* project id 454487 */
  src: url('//at.alicdn.com/t/font_454487_4wnx7gvx757.eot');
  src: url('//at.alicdn.com/t/font_454487_4wnx7gvx757.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_454487_4wnx7gvx757.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_454487_4wnx7gvx757.woff') format('woff'),
  url('//at.alicdn.com/t/font_454487_4wnx7gvx757.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_454487_4wnx7gvx757.svg#Y. Jer') format('svg');
}

.iconfont {
  font-family 'Y. Jer'!important
  font-size 16px
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-text-stroke-width .2px
}

.icon-home:before {
  content '\e60a'
}

.icon-archive:before {
  content '\e649'
}

.icon-special:before {
  content '\e60b'
}

.icon-link:before {
  content '\e62d'
}

.icon-https:before {
  content '\e6cb'
}

.icon-qiwen:before {
  content '\e71e'
}

.icon-jianyan:before {
  content '\e635'
}

.icon-shudan:before {
  content '\e67f'
}

.icon-date:before {
  content '\e60c'
}

.icon-tag:before {
  content '\e62e'
}

.icon-tag:before {
  content '\e62e'
}

.icon-spot:before {
  content '\e754'
}

.icon-bi:before {
  content '\e608'
}

.icon-loudou:before {
  content '\e7b7'
}

.icon-look:before {
  content '\e62c'
}

.icon-movies:before {
  content '\e661'
}
