@font-face {
  font-family: 'Y. Jer';  /* project id 454487 */
  src: url('//at.alicdn.com/t/font_454487_bmqcc5iyzvb.eot');
  src: url('//at.alicdn.com/t/font_454487_bmqcc5iyzvb.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_454487_bmqcc5iyzvb.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_454487_bmqcc5iyzvb.woff') format('woff'),
  url('//at.alicdn.com/t/font_454487_bmqcc5iyzvb.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_454487_bmqcc5iyzvb.svg#Y. Jer') format('svg');
}
.iconfont { 
  font-family 'Y. Jer'!important
  font-size 16px
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-text-stroke-width .2px
}

.icon-home:before {
  content '\e60a'
}

.icon-archive:before {
  content '\e649'
}

.icon-special:before {
  content '\e60b'
}

.icon-link:before {
  content '\e62d'
}

.icon-https:before {
  content '\e6cb'
}

.icon-qiwen:before {
  content '\e71e'
}

.icon-jianyan:before {
  content '\e635'
}

.icon-shudan:before {
  content '\e67f'
}

.icon-date:before {
  content '\e600'
}

.icon-tag:before {
  content '\e62e'
}