a.anchor {
  display: block
  position: relative
  visibility: hidden
}

article {
  border-bottom: 1px solid #ddd
  border-top: 1px solid #fff
  padding: 30px 0
  position: relative
  word-wrap: break-word

  .meta {
    color: #555
    float: right
    font-size: .9em
    line-height: 2
    position: relative
    text-align: right
    width: auto
    
    a {
      color: #999
    }

    .date,
    .comment,
    .tags {
      position: relative
    }
  }

  h1.title {
    font-size: 1.8em
    font-weight: 300
    line-height: 35px
    margin-bottom: 25px
    color: #333

    a {
      color: #333
      &:hover {
        color: #2479CC
        transition: color .3s
      }
    }
  }

  button,
  input.runcode {
    -webkit-appearance: button
    background: #12b0e6
    border: none
    box-shadow: inset 0 -5px 20px rgba(0, 0, 0, .1)
    color: #fff
    cursor: pointer
    font-size: 14px
    line-height: 1
    margin-top: 10px
    padding: 0.625em .5em
  }

  img {
    height: auto
    max-width: 910px
  }

  strong {
    font-weight: 700
  }

  em {
    font-style: italic
  }

  blockquote {
    background-color: #f8f8f8
    border-left: 5px solid #2479CC
    margin: 0
    padding: 15px 20px

    p {
      margin-bottom: 0
    }
  }

  code {
    background-color: #f2f2f2
    border-radius: 5px
    font-family: "Consolas", "Courier New", Courier, mono, serif
    font-size: 80%
    margin: 0 2px
    padding: 4px 5px
    vertical-align: middle
  }

  pre {
    color: #5d6a6a
    font-family: "Consolas", "Liberation Mono", Courier, monospace
    font-size: 14px
    line-height: 1.6
    overflow: hidden
    padding: 0.6em
    position: relative
    white-space: pre-wrap
    word-break: break-all
    word-wrap: break-word

    code {
      background-color: transparent
      border-radius: 0 0 0 0
      border: 0
      display: block
      font-size: 100%
      margin: 0
      padding: 0
      position: relative
    }
  }

  img {
    border: 1px solid #ccc
    display: block
    margin: 10px 0 5px
    max-width: 100%
    padding: 0
  }

  table {
    border: 0
    border-collapse: collapse
    border-spacing: 0

    th, td {
      border: 0
    }

    th {
      border-bottom: 2px solid #848484
      padding: 6px 20px
      text-align: left
    }

    td {
      border-bottom: 1px solid #d0d0d0
      padding: 6px 20px
    }
  }

  .expire-tips {
    background-color: #ffffc0
    border: 1px solid #e2e2e2
    border-left: 5px solid #fff000
    color: #333
    font-size: 15px
    padding: 5px 10px
  }

  .aliyun-tips {
    background-color: #f0f8f4
    border: 1px solid #e2e2e2
    border-left: 5px solid #7cc4a0
    font-size: 15px
    padding: 5px 10px
  }

  .post-info {
    font-size: 14px
  }

  .entry-content {
    line-height: 1.8
    word-wrap: break-word

    h4 {
      font-size: 1.2em
      font-weight: 700
    }

    p,
    blockquote,
    ul,
    ol,
    dl,
    table,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    pre {
      margin-top: 15px
    }

    pre {
      b.name {
        color: #eee
        font-size: 60px
        line-height: 1
        pointer-events: none
        position: absolute
        right: 10px
        top: 10px
      }
    }

    .date {
      color: #999
      font-size: 14px
      font-style: italic
    }

    ul ul,
    ul ol,
    ul dl,
    ol ul,
    ol ol,
    ol dl,
    dl ul,
    dl ol,
    dl dl,
    blockquote > p:first-of-type {
      margin-top: 0
    }

    ul,
    ol,
    dl {
      margin-left: 20px
    }
  }

  input.runcode:hover, input.runcode:focus, input.runcode:active {
    background: #f6ad08
  }
}

article.tags {
  section {
    a {
      border: 1px solid rgba(36, 121, 204, .8)
      border-radius: 4px
      color: rgba(36, 121, 204, .8)
      display: inline-block
      font-size: 14px
      height: 40px
      line-height: 40px
      margin: 0 15px 10px 0
      padding: 0 15px
      text-decoration: none
      -webkit-transition: color .2s cubic-bezier(.4, .01, .165, .99), border .2s cubic-bezier(.4, .01, .165, .99)
      transition: color .2s cubic-bezier(.4, .01, .165, .99), border .2s cubic-bezier(.4, .01, .165, .99)
      &:hover {
        border-color: #2479CC
        color: #2479CC
      }
    }
  }
}
