*{
  margin 0
  padding 0
  -webkit-box-sizing border-box
  box-sizing border-box
}
body {
  line-height 1.8
  color #333
  font-family "-apple-system","Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif
  -webkit-font-smoothing antialiased
  padding 0
  margin 0
  font-size 16px
  -webkit-overflow-scrolling touch
  -webkit-tap-highlight-color transparent
  -webkit-text-size-adjust none
  -webkit-transition -webkit-transform .2s cubic-bezier(.4, .01, .165, .99)
  transition transform .2s cubic-bezier(.4, .01, .165, .99), -webkit-transform .2s cubic-bezier(.4, .01, .165, .99)
}
body, html {
  height 100%
  width 100%
}

a, a:hover {
  text-decoration none
  color #0c82f5
}

.intro {
  padding 20px 30px
  background-color #f6f9fa
  color #999
  text-align center
}

.wrap-main {
  max-width 1688px
  padding-left 260px
  padding-right 40px
  -webkit-overflow-scrolling touch
  color #444
  background-color #fff
}